<template name="home">
    <div class="hero-unit">
        <h1>Welcome to Sprout</h1>
        <p>Job creators can sign up here and post an internship!</p>

        <p>Students and other internship seekers can browse the listings for
        their area and apply</p>

        <p>Donors can sign up to begin sponsoring students.</p>
    </div>

    {{#each donations}}
      <div class="col-md-4">
        {{{donator_name this.donator}}} just donated ${{this.amount}}!
      </div>
    {{/each}}
</template>
