<template name="extraUserInfo">
        <div id="user-type" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">You want to be a:</h4>
                    </div>
                    <div class="modal-footer">
                    <p><a class="btn btn-success btn-lg" id='fund-intern' href="#" data-dismiss="modal" role="button">Donator</a>
                    <a class="btn btn-success btn-lg" id='be-intern' href="#" data-dismiss="modal" role="button">Intern</a></p>
                    </div>
                </div>
            </div>
        </div>
</template>