<template name="userDonater">
    <form id="reg-form">
        <div class="form-group">
            <label for="regEmail">Email address</label>
            <input type="email" class="form-control" id="regEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="regUsername">Username</label>
            <input type="input" class="form-control" id="regUsername" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="regUsername">Password</label>
            <input type="password" class="form-control" id="regPw" placeholder="password">
        </div>
        <input class="block hidden" type="password" id="regRole" value="donater" placeholder="role"/>
        <button type="submit" name="reg-button" class="btn btn-default">Submit</button>
    </form>
</template>
