/* make cover image fit*/
.jumbotron {
    position: relative;
    background: #7baf8c url("imgs/bg_header.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    padding: 5em;
}

.jumbotron h1 {
	font-size: 70px;
}

.featured h2 {
	margin-top: 0;
}

.featured .img-responsive {
	width: 100%;
}